{% extends "base.html" %} {% block head %}

    <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    <link
  rel="stylesheet"
  href="{{url_for('static', filename='css/test.css')}}"
/>

{% endblock head%}


{% block content %}
    <div class="about-section")>
    <p></p>

    <h1><p>About LivExpress</p></h1>
    <p></p>
  <p>Have you gone somewhere new lately, or experienced something so fantastic?  Do you want to share it with the world?  Then you have come to the right place!</p>
  <p>LivExpress is an open-source community-based platform.  It allows users from all around the world, to post places you have been, that other people must go/try/see/do, etc.  We are starting to see light at the end of the tunnel after being cooped up in the house due to Coronavirus shutting the world down, as well as amongst other, normal, every day life duties rendering us from venturing out in the world.  It is time that you get back to living and seeing the world.  This platform will allow users to post a status with an image to the live feed, sharing your wonderful places you have been to, restaurant that you devoured, to activities, locations, and much more, in which you would like to share your great findings that you saw or experienced, and let others know in case they wanted to get out and try some of these amazing things too.</p>

<p>Now get active and go live for a new and amazing new experience.  If you love it...express it, and spread these things we cherish and live for!</p>
</div>



<div style="background: linear-gradient(to top left, #339966 0%, #ffff66 100%); padding: 10px;">
<h2 style="text-align:center"><b>MEET THE TEAM</b></h2>

<div><button style="margin:0 auto; border: none; color: black; padding: 15px 32px;
text-align:center; display: block; font-size: 16px; font-color: black"><a href="/contact">Contact</a></button></div>
    <p></p>
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="our-team">
                <img style="float: left; width: 300px; height: 350px" src="/static/images/Franklin.jpg" alt="franco">
                <ul class="social">
                    <li><a href="#" class="fab fa-facebook"></a></li>
                    <li><a href="#" class="fab fa-instagram"></a></li>
                    <li><a href="#" class="fab fa-google-plus"></a></li>
                    <li><a href="#" class="fab fa-linkedin"></a></li>
                    <li><a href="#" class="fab fa-twitter"></a></li>
                </ul>
                <div class="team-content">
                    <h3 class="title">Franklin Nkemjika</h3>
                    <span class="post">Web Developer</span>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="our-team">
                <img style="float: left; width: 300px; height: 350px" src="/static/images/profme.jpg" alt="trina">
                <ul class="social">
                    <li><a href="#" class="fab fa-facebook"></a></li>
                    <li><a href="#" class="fab fa-instagram"></a></li>
                    <li><a href="#" class="fab fa-google-plus"></a></li>
                    <li><a href="#" class="fab fa-linkedin"></a></li>
                    <li><a href="#" class="fab fa-twitter"></a></li>
                </ul>
                <div class="team-content">
                    <h3 class="title">Catrina Barth</h3>
                    <span class="post">Web Designer</span>
                </div>
            </div>
        </div>

                <div class="col-md-3 col-sm-6">
            <div class="our-team">
                <img style="float: left; width: 300px; height: 350px" src="/static/images/Merga.png" alt="merga">
                <ul class="social">
                    <li><a href="#" class="fab fa-facebook"></a></li>
                    <li><a href="#" class="fab fa-instagram"></a></li>
                    <li><a href="#" class="fab fa-google-plus"></a></li>
                    <li><a href="#" class="fab fa-linkedin"></a></li>
                    <li><a href="#" class="fab fa-twitter"></a></li>
                </ul>
                <div class="team-content">
                    <h3 class="title">Merga Mekonnen</h3>
                    <span class="post">Web Designer</span>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="our-team">
                <img style="float: left; width: 300px; height: 350px" src="/static/images/toad.jpg" alt="">
                <ul class="social">
                    <li><a href="#" class="fab fa-facebook"></a></li>
                    <li><a href="#" class="fab fa-instagram"></a></li>
                    <li><a href="#" class="fab fa-google-plus"></a></li>
                    <li><a href="#" class="fab fa-linkedin"></a></li>
                    <li><a href="#" class="fab fa-twitter"></a></li>
                </ul>
                <div class="team-content">
                    <h3 class="title">Kristiana</h3>
                    <span class="post">Web Designer</span>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="our-team">
                <img style="float: left; width: 300px; height: 350px" src="/static/images/emp3.jpg" alt="">
                <ul class="social">
                    <li><a href="#" class="fab fa-facebook"></a></li>
                    <li><a href="#" class="fab fa-instagram"></a></li>
                    <li><a href="#" class="fab fa-google-plus"></a></li>
                    <li><a href="#" class="fab fa-linkedin"></a></li>
                    <li><a href="#" class="fab fa-twitter"></a></li>
                </ul>
                <div class="team-content">
                    <h3 class="title">Kristiana</h3>
                    <span class="post">Web Designer</span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content%}